.filesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 70vw;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fileButtonsContainer {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: flex-end;
}

h2{
  margin-bottom: 0;
}