
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@media only screen and (max-width: 1024px) {
  .logo {
    width: 310px;
    margin: 27px 0em !important;
    font-size: 1.5rem !important;
    align-self: center;
    flex-direction: column !important;
  }
  .logoImg{
    height: 50px !important;
  }
  .dashboardContainer {
    width: 90vw !important;
  }
  #logo {
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 0 !important;
    position: relative;
    margin-bottom: 2em;
  }
  .authFormContainer {
    min-width: 300px !important;
    width: 90vw;
  }
  .uploadFormDiv {
    min-width: 300px !important;
    width: 90vw !important;
    top: 45% !important;
    background: #060606f0 !important;
  }
  .filesHeader {
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 10px !important;
  }
  .fileTypesContainer {
    flex-direction: column !important;
    gap: 0 !important;
  }
  .dashButtons {
    justify-content: center !important;
    align-items: center !important;
  }
  .dashTabs{
    margin-top: 1em !important;
    justify-content: center !important;
  }
  .dashTabs button{
    font-size: 1em !important;
  }
  .tabsContent{
    border-top-left-radius: 5px;
  }
  .button {
    font-size: 1rem !important;
    padding: 10px 0.8em !important;
  }
  .yearNode h3,
  .monthNode h4,
  .dayNode {
    margin-left: 0 !important;
  }
}

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html, body {
  background: radial-gradient(circle, rgb(5, 5, 5) 0%, rgb(29, 29, 29) 60%, rgb(29, 29, 29)100%);
  font-family: "Source Code Pro", monospace;
  color: #b3b3b3;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.filesContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dashboardContainer{
  width: 70vw;
}

.fileButtonsContainer {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: stretch;
}

h2 {
  margin-bottom: 0;
}

#logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
  user-select: none;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #141414;
  margin: 0.8em 0;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 
  2px 0 5px #4646469f,
  0 0 20px #afafaf8c;
}

.logoImg {
  width: auto;
  height: 72px;
  filter: brightness(1) invert(1) saturate(0.5);
}

.logo:hover {
  transform: scale(1.05);
  filter: brightness(0.7) invert(0.9) saturate(5);
}

.logo:active {
  transform: scale(0.95);
}

.navButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dashButtons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1;
}

.button {
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  display: flex;
  background-color: #0a0a0ad5;
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
  color: #b3b3b3;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: all 0.125s ease;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}
.button.copyLink {
  background: transparent;
  border: #303030d5 1px solid;
  color: #636363;
}
.button.downloadFile {
  border: #303030d5 1px solid;
  color: #636363;
  flex-grow: 1;
}

.uploadFormDiv .button{
  border: 1px solid #b3b3b357 !important;
}

.button:hover:not(.downloadFile):not(.copyLink),
.button:focus:not(.downloadFile):not(.copyLink) {
  filter: brightness(1.2) saturate(1.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.555);
}

.button.downloadFile:hover,
.button.downloadFile:focus,
.button.copyLink:hover,
.button.copyLink:focus {
  filter: brightness(1.2) saturate(1.5);
  font-weight: 500;
  box-shadow: 0 0 2px 1px rgba(121, 121, 121, 0.267);
}


.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

@keyframes clouds-loop-1 {
  to {
    background-position: -1000px 0;
  }
}

.clouds-1 {
  background-image: url("../public/assets/clouds_2.webp");
  animation: clouds-loop-1 20s infinite linear;
}

@keyframes clouds-loop-2 {
  to {
    background-position: -1000px 0;
  }
}

.clouds-2 {
  background-image: url("../public/assets/clouds_1.webp");
  animation: clouds-loop-2 15s infinite linear;
}

@keyframes clouds-loop-3 {
  to {
    background-position: -1579px 0;
  }
}



.clouds {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
}

.clouds-3 {
  background-image: url("../public/assets/clouds_3.png");
  animation: clouds-loop-3 17s infinite linear;
}

.lightning-1 {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_1.png") no-repeat;
  background-size: contain;
  animation: lightning-strike 10s infinite;
  animation-delay: 2s;
  opacity: 0;
}

.lightning-2 {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_2.png") no-repeat;
  background-size: contain;
  animation: lightning-strike 10s infinite;
  animation-delay: 6s;
  opacity: 0;
}

.lightning-3 {
  top: 0;
  right: 0;
  left:0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_3.png") no-repeat;
  background-size: contain;
  transform: translateX(45%);
  animation: lightning-strike 10s infinite;
  animation-delay: 10s;
  opacity: 0;
}

.lightning-4 {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_1.png") no-repeat;
  background-size: contain;
  animation: lightning-strike 10s infinite;
  animation-delay: 10s;
  opacity: 0;
}

.lightning-5 {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_2.png") no-repeat;
  background-size: contain;
  animation: lightning-strike 10s infinite;
  animation-delay: 6s;
  opacity: 0;
}

.lightning-6 {
  top: 0;
  right: 0;
  left:0;
  position: absolute;
  width: auto;
  height: 500px;
  background: url("../public/assets/light_3.png") no-repeat;
  background-size: contain;
  transform: translateX(45%);
  animation: lightning-strike 10s infinite;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes lightning-strike {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




.uploadFormDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 10px;
  align-items: center;
  background: #111111e3;
  backdrop-filter: blur(5px);
  align-content: space-between;
  border-radius: 5px;
  border: 1px solid #b3b3b357;
  justify-content: space-between;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 500px;
}

.uploadFormFields {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}

.uploadControlsDiv {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
  padding: 5px;
}

.fileInput {
  display: none;
}


.fileDetailsBox{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  background: #111111e3;
  gap: 1.5em;
  justify-content: space-between;
}

.fileDetailsContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 75px;
  justify-content: flex-start;
}

.fileTopContainer div:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 400;
  cursor: default;
}

.fileTopContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.filesHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  gap: 1em;

}

.filesHeader > div:nth-child(1){
  flex-grow: 1;
}

.filesHeaderText {
  font-weight: 700;
  font-size: 1.5em;
}

.fileTypesContainer{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.fileTypesText{
  font-weight: 900;
  font-size: 12px;
}

.fileTypesText span:nth-child(2) {
  font-weight: 200;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2em;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 425px;
}

.authFormFields {
  display: flex;
  flex-direction: column;
  background: #111111e3;
  backdrop-filter: blur(10px);
  padding: 1em;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #b3b3b357;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease;
  width: 100%;
}

label:hover{
  filter: brightness(1.2);
}

input {
  font-family: "Rajdhani", sans-serif;
  background: #00000071;
  border: 1px solid #b3b3b357;
  border-radius: 3px;
  color: #b3b3b3;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
  width: 100%;
}

input[type="checkbox"] {
  filter: brightness(2) invert(0.8); 
  transform: scale(1.5);
  width: fit-content;
}

.fileGrids {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
  gap: 10px;
}

.yearNode > h3 { 
  user-select: none;
  cursor: pointer;
}
.yearNode > h3:hover {
  filter: brightness(1.2);
}
.monthNode > h4 { 
  user-select: none;
  cursor: pointer;
}
.monthNode > h4:hover {
  filter: brightness(1.2);
}
.dayNode > h5 { 
  user-select: none;
  cursor: pointer;
}
.dayNode > h5:hover {
  filter: brightness(1.2);
}

.dashTabs{
  margin-top: 4.2em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.dashTabs button{
  font-family: "Space Mono", monospace;
  background: #050505da;
  backdrop-filter: blur(5px);
  border: 0;
  color: #ffffffe0;
  font-size: 1.1em;
  padding: 0.75em;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabButton:not(.active) {
  color: #7a7a7ae0;
  background: #0505059f;
  filter: brightness(1.2);

}

.dashTabs button:hover{
  color: #ffffffe0;
  background: #050505da;
  filter: brightness(1.2);
}

.tabsContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #050505da;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 1em;
}

.fileDetailsMimeType {
  font-size: 2.22rem;
}

.fileTypeIconContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  user-select: none;
}

.fileTypeIconContainer span {
  font-size: 12.22px;

}

.dayNode h5,
.monthNode h4,
.yearNode h3 {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
  border-bottom: 1px dotted #b3b3b357;
  padding-bottom: 0.5em;
}

.yearNode h3 {
  margin-bottom: 2em;
}

.monthNode h4 {
  margin-left: 3em;
  margin-bottom: 2em;
}

.dayNode {
  margin-left: 6em;
}

.countItemsText{
  font-weight: 300;
}

.myCodesContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.usersInvitesContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.codeBox {
  font-weight: 200;
  background: #050505da;
  padding: 2px 1em;
  border-radius: 5px;
  user-select: all;
}

.notUsed {
  color: #09ff00e0;
}

.used{
  color: #ff0000e0;
}